@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

/* Hide scrollbar utility */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
